html, body, div, span, h1, h2, h3, h4, h5, p, a, img, ul, li, form, label, input, button, header, footer, section, article, nav, main, aside, figure {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

body{
    line-height: 1;
}

ul{
    list-style: none;
}

input, button{
    font-family: inherit;
    font-size: inherit;
    outline: none;
}

button {
    cursor: pointer;
}